body {
 background-image: url("../images/Background.jpg");
 background-size: contain;
 background-repeat: no-repeat;
 width: 100%;
 height: 100%;
 background-color: #121214;
}

h1 {
  text-align: center;
  color: #FB8C00;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
}

.Container1 {
  width: 60%;
  height: 100%;
}

.h2 {
  text-align: left;
  color: #FF9800;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
}

.description {
  text-align: left;
  color: white;
  font-family: 'Kaushan Script', serif;
  color: beige;
  word-wrap: break-word;
}

ul {
  list-style-type: none;
  font-size: 9px;
  color: blue;
}

a {
  text-decoration: none;
	color: inherit;

}

.Container2 {
  width: 100%;
  height: 100%;
  color: beige;
  font-family: 'Kaushan Script', cursive;

}
